* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f4f6;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 100vh;
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.1);
  padding: 8px;
}

nav > ul {
  list-style: none;
  display: flex;
  gap: 8px;
}

nav > ul > li {
  width: 48px;
  height: 48px;
  background: #f3f4f6;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex: 1;
}

@media (min-width: 640px) {
  body {
    flex-direction: row;
  }

  nav > ul {
    flex-direction: column;
  }
}
